.BookingCard {
    background-color:lightgrey;
    border-radius:8px;
    width:100%;
    justify-content: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.delete {
    width: 100%;
    height: 32px;
    background: none;
    border:none;
}

.delete:hover {
    background-color:rgb(255, 188, 173);
}